@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-primary-blue: #3563e9;
  --color-primary-dark: #1a202c;
  --color-secondary: #90a3bf;
  
  /* Background colors */
  --color-bg-main: #f6f7f9;
  
  /* Custom font family */
  --font-family-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

/* Base styles */
* {


}

body {
  font-family: var(--font-family-sans);
  background-color: #f6f7f9;
}
